*{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color:   hsl(0, 0%, 81%) ;
    margin: 0;
    padding:0px;
}

/* Profiles */

.profile{
    display: grid;
    grid-template-columns: 20% 30% ;
    padding-bottom: 20px;

}

.title span{
    background-color: hsl(263, 55%, 52%);
    opacity: 0.5;
}

.image{
width: 50px;  
height: 50px;
background-color: black;
border-radius: 50%;
}
.image img{
    border-radius: 50%;

}

.profile2{
    display: grid;
    grid-template-columns: 50% 80% ;
    padding-bottom: 20px;

}
.title2 span{
    background-color: hsl(217, 19%, 35%);
    opacity: 0.5;

}

.profile3{
    display: grid;
    grid-template-columns: 45%  70% ;
    padding-bottom: 20px;

}
.title3{
    color: hsl(217, 19%, 35%);
    font-weight: 600;
    
}
.title3 span{
    /* color:hsl(217, 20%, 45%); 
    font-weight: 100; */
    background-color: hsl(0, 0%, 100%);
    opacity: 0.5;
}

.profile4{
    display: grid;
    grid-template-columns: 45% 60%;
    padding-bottom: 20px;

}
.title4{
    color: hsl(217, 20%, 45%);
    font-weight: 600;

}
.title4 span{
    background-color: hsl(0, 0%, 100%);
    opacity: 0.5;
}
.profile5{
    display: grid;
    grid-template-columns: 20% 30%;
    margin-bottom: 20px;
}
.title5{
    color: hsl(0, 0%, 100%);
    font-weight: 600;

}
.title5 span{
    background-color:hsl(217, 20%, 21%) ;
    opacity: 0.5;
}

/* end of profiles */

main{
    display: grid;
    grid-template-columns: 50% 20% 25%;
    grid-template-rows: auto 1fr ;
    margin:30px;
    padding: 10px;
    row-gap: 30px;
    column-gap: 30px;
}
.daniel{
    background-color: hsl(263, 55%, 52%);
    padding: 30px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    /* grid-column:1 /span 1;
    grid-row:1 /span 1; */
}
.jonathan{
    background-color: hsl(217, 19%, 35%);
    padding: 30px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%)
    /* grid-column:2/span 1;
    grid-row: 1/span 1; */
}



.jeanette{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    grid-column:1/ span 1;


}

.patrick{
    background-color:hsl(217, 20%, 21%) ;
    padding: 30px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    grid-column:2/ span 2;
  
}

.jeanette-patrick{
    grid-column:1/ span 2;
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 30px;
}

.kira{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    grid-column:3 /span 1;
    grid-row:1/span 2;

}
.quote{
    font-size: 200px;
    position: absolute;
    top: -120px;
    left: 500px;
    font-family: 'Be Vietnam', sans-serif;
    z-index:2;
    opacity: 0.1
}
.attribution{
    margin: 50px;
    font-size: 20px;
    color:rgb(214, 16, 16);
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}
.attribution a{
    text-decoration: none;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.attribution a:hover{
    background-color: #fff;
    color: red;
    padding: 7px;
    border-radius: 30px;
}

/* media queries */
@media only screen and (max-width:768px){
    body{
        padding: 0;
        margin: 0;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    
    .profile3{
        display: grid;
        grid-template-columns: 13%  30% ;
        margin-bottom: 20px;
    }

    .profile{
        display: grid;
        grid-template-columns: 13% 20% ;
    }
    
    .profile2{
        display: grid;
        grid-template-columns: 13% 20% ;
    }

    .profile4{
        display: grid;
        grid-template-columns: 40% 60%;
        padding-bottom: 20px;

    }
    .jeanette{
        background-color: hsl(0, 0%, 100%);
        padding: 10px;
        border-radius: 10px;
        grid-column:1/ span 1;
    
    }

    .profile5{
        display: grid;
        grid-template-columns: 20% 60%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:425px){
    body{
        padding: 0;
        margin: 0;
    }
    main{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
   
    .jeanette-patrick{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto ;
        grid-row-gap: 30px;
    }
    .jeanette{
        grid-column: 1/span 1;
    }
    .patrick{
        grid-column: 1/span 1;

    }

    .profile3{
        display: grid;
        grid-template-columns: 40%  70% ;
        margin-bottom: 20px;
    }
    .profile{
        display: grid;
        grid-template-columns: 35% 50% ;
        padding-bottom: 20px;
    }
    
    .profile2{
        display: grid;
        grid-template-columns: 35% 80% ;
        padding-bottom: 20px;

    }

    .profile4{
        display: grid;
        grid-template-columns: 30% 70%;
        padding-bottom: 20px;

    }
    .jonathan{
        grid-column:1 /span 1;

    }
    .jeanette{
        background-color: hsl(0, 0%, 100%);
        padding: 10px;
        border-radius: 10px;
        grid-column:1/ span 1;
    
    }

    .profile5{
        display: grid;
        grid-template-columns: 35% 60%;
        margin-bottom: 20px;
    }

    .attribution{
        margin: 50px;
        font-size: 15px;
        color:rgb(214, 16, 16);
        font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center; 
    
    }

    .quote{
        font-size: 200px;
        position: absolute;
        top: 0;
        left:0px;
        font-family: 'Be Vietnam', sans-serif;
        z-index:2;
        opacity: 0.1
    }

   
    
}



